.contentWrapper {
  width: 980px;
  margin: 0 auto;
}

.topBar {
  background: #000;
  border-bottom: solid 1px rgb(137, 148, 245);
  margin-bottom: 20px;
  color: #fff;
}

img {
  max-width: 100%;
}
